---
import HeaderNav from "../components/HeaderNav";
import HeroComponent from "../components/HeroComponent";
import Features from "../components/Features";
import Features2 from "../components/Features2";
import Essentials from "../components/Essentials";
import Contact from "../components/Contact";
import "../components/styles/Home.module.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Your delivery co-worker</title>
  </head>
  <body>
    <HeaderNav />
    <HeroComponent />
    <Features />
    <Essentials />
    <Features2 />
    <Contact />
  </body>
</html>
