@import "./variables.scss";

.contact,
.contact * {
  box-sizing: border-box;
}

.contact {
  background: #ffffff;
  padding: 80px 8px 80px 8px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.featureItem {
  background: #000000;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  max-width: 700px;
  position: relative;
  overflow: hidden;
}

.frame2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.frame10 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.joinTheFoxTrkWaitlistToday {
  color: #ffffff;
  text-align: left;
  font-family: var(--landing-h2-m-font-family, "NotoSans-Bold", sans-serif);
  font-size: var(--landing-h2-m-font-size, 32px);
  line-height: var(--landing-h2-m-line-height, 110%);
  font-weight: var(--landing-h2-m-font-weight, 700);
  position: relative;
  align-self: stretch;
}

.beTheFirstToExperienceFoxTrkFeaturesAndProvideValuableFeedbackYouWillBeRewardedForSure {
  color: #ffffff;
  text-align: left;
  font-family: var(--landing-p-m-font-family, "NotoSans-Light", sans-serif);
  font-size: var(--landing-p-m-font-size, 16px);
  line-height: var(--landing-p-m-line-height, 110%);
  font-weight: var(--landing-p-m-font-weight, 300);
  position: relative;
  align-self: stretch;
}

.heroSubscription {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.rectangle7 {
  background: #f9f9f9;
  border-radius: 8px 8px 0px 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  align-self: stretch;
  flex-shrink: 0;
  height: 50px;
  position: relative;
}

.frame1 {
  background: #00ac94;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.signUp {
  color: #ffffff;
  text-align: center;
  font-family: var(--landing-button-font-family, "NotoSans-Medium", sans-serif);
  font-size: var(--landing-button-font-size, 24px);
  line-height: var(--landing-button-line-height, 110%);
  font-weight: var(--landing-button-font-weight, 500);
  position: relative;
}
