.features,
.features * {
    box-sizing: border-box;
}

.features {
    background: #ffffff;
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.featureItem {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
}

.frame7 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.frame8 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame9 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.simplify {
    color: #000000;
    text-align: left;
    font-family: var(--landing-p-m-font-family, "NotoSans-Light", sans-serif);
    font-size: var(--landing-p-m-font-size, 16px);
    line-height: var(--landing-p-m-line-height, 110%);
    font-weight: var(--landing-p-m-font-weight, 300);
    position: relative;
    align-self: stretch;
}

.allYourEssentialRiderFeaturesInOnePlace {
    color: #000000;
    text-align: left;
    font-family: var(--landing-h2-m-font-family, "NotoSans-Bold", sans-serif);
    font-size: var(--landing-h2-m-font-size, 32px);
    line-height: var(--landing-h2-m-line-height, 110%);
    font-weight: var(--landing-h2-m-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.discoverThePowerOfFoxTrkTheUltimateAppAssistantForGigEconomyRidersWithFeaturesLikeMileageTrackingExpensesLoggingMaintenanceCostsAndPerformanceAnalyticsFoxTrkStreamlinesYourWorkAndHelpsYouMaximizeEfficiencyAndProfitabilityStayOnTopOfYourWorkAndEarningsWithRealTimeInsightsAndActionableDataDrivenDecisions {
    color: #000000;
    text-align: left;
    font-family: var(--landing-p-m-font-family, "NotoSans-Light", sans-serif);
    font-size: var(--landing-p-m-font-size, 16px);
    line-height: var(--landing-p-m-line-height, 110%);
    font-weight: var(--landing-p-m-font-weight, 300);
    position: relative;
    align-self: stretch;
}

.frame3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.frame4 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.lucideGauge {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    position: relative;
    overflow: visible;
}

.mileageTracking {
    color: #000000;
    text-align: left;
    font-family: var(--landing-h3-m-font-family, "NotoSans-Bold", sans-serif);
    font-size: var(--landing-h3-m-font-size, 20px);
    line-height: var(--landing-h3-m-line-height, 110%);
    font-weight: var(--landing-h3-m-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.textFeature1 {
    color: #000000;
    text-align: left;
    font-family: var(--landing-cardp-m-font-family, "NotoSans-Light", sans-serif);
    font-size: var(--landing-cardp-m-font-size, 14px);
    line-height: var(--landing-cardp-m-line-height, 110%);
    font-weight: var(--landing-cardp-m-font-weight, 300);
    position: relative;
    align-self: stretch;
}

.frame5 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.lucideCoins {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    position: relative;
    overflow: visible;
}

.expenseLogging {
    color: #000000;
    text-align: left;
    font-family: var(--landing-h3-m-font-family, "NotoSans-Bold", sans-serif);
    font-size: var(--landing-h3-m-font-size, 20px);
    line-height: var(--landing-h3-m-line-height, 110%);
    font-weight: var(--landing-h3-m-font-weight, 700);
    position: relative;
    align-self: stretch;
}

.frame6 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.lucideWrench {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    position: relative;
    overflow: visible;
}

.maintenanceCosts {
    color: #000000;
    text-align: left;
    font-family: var(--landing-h3-m-font-family, "NotoSans-Bold", sans-serif);
    font-size: var(--landing-h3-m-font-size, 20px);
    line-height: var(--landing-h3-m-line-height, 110%);
    font-weight: var(--landing-h3-m-font-weight, 700);
    position: relative;
    align-self: stretch;
}