@import "./variables.scss";

.essentials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0.5rem;
  max-width: 1100px;
  margin: 0 auto;
  padding-block: 15rem;
  &-info {
    display: flex;
    flex-direction: column;
    gap: 0;
    &-subtitle {
      margin: 0 !important;
      font-size: var(--landing-p-m-font-size);
      @media screen and (min-width: 600px) {
        font-size: var(--landing-p-font-size);
      }
    }
    h2 {
      margin: 0;
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media screen and (min-width: 600px) {
      flex-direction: row;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    h3 {
      margin: 0;
    }
    @media screen and (min-width: 600px) {
      flex: 1;
    }
  }
}
