/* Figma Styles of your File */
:root {
  /* Colors */
  --primary: transparent;
  --dark-blue: #314659;
  --dark-blue-boxes: #303c47;

  /* Fonts */
  --landing-h1-font-family: NotoSans-Bold, sans-serif;
  --landing-h1-font-size: 64px;
  --landing-h1-line-height: 110%;
  --landing-h1-font-weight: 700;
  --landing-h1-font-style: normal;
  --landing-h2-font-family: NotoSans-Bold, sans-serif;
  --landing-h2-font-size: 48px;
  --landing-h2-line-height: 110%;
  --landing-h2-font-weight: 700;
  --landing-h2-font-style: normal;
  --landing-h3-font-family: NotoSans-Bold, sans-serif;
  --landing-h3-font-size: 24px;
  --landing-h3-line-height: 110%;
  --landing-h3-font-weight: 700;
  --landing-h3-font-style: normal;
  --landing-p-font-family: NotoSans-Light, sans-serif;
  --landing-p-font-size: 20px;
  --landing-p-line-height: 110%;
  --landing-p-font-weight: 300;
  --landing-p-font-style: normal;
  --landing-cardp-font-family: NotoSans-Light, sans-serif;
  --landing-cardp-font-size: 16px;
  --landing-cardp-line-height: 110%;
  --landing-cardp-font-weight: 300;
  --landing-cardp-font-style: normal;
  --landing-h1-m-font-family: NotoSans-DisplayBold, sans-serif;
  --landing-h1-m-font-size: 40px;
  --landing-h1-m-line-height: 110%;
  --landing-h1-m-font-weight: 400;
  --landing-h1-m-font-style: normal;
  --landing-h2-m-font-family: NotoSans-Bold, sans-serif;
  --landing-h2-m-font-size: 32px;
  --landing-h2-m-line-height: 110%;
  --landing-h2-m-font-weight: 700;
  --landing-h2-m-font-style: normal;
  --landing-h3-m-font-family: NotoSans-Bold, sans-serif;
  --landing-h3-m-font-size: 20px;
  --landing-h3-m-line-height: 110%;
  --landing-h3-m-font-weight: 700;
  --landing-h3-m-font-style: normal;
  --landing-p-m-font-family: NotoSans-Light, sans-serif;
  --landing-p-m-font-size: 16px;
  --landing-p-m-line-height: 110%;
  --landing-p-m-font-weight: 300;
  --landing-p-m-font-style: normal;
  --landing-cardp-m-font-family: NotoSans-Light, sans-serif;
  --landing-cardp-m-font-size: 14px;
  --landing-cardp-m-line-height: 110%;
  --landing-cardp-m-font-weight: 300;
  --landing-cardp-m-font-style: normal;
  --landing-button-font-family: NotoSans-Medium, sans-serif;
  --landing-button-font-size: 24px;
  --landing-button-line-height: 110%;
  --landing-button-font-weight: 500;
  --landing-button-font-style: normal;
  --landing-button-m-font-family: NotoSans-Medium, sans-serif;
  --landing-button-m-font-size: 14px;
  --landing-button-m-line-height: 110%;
  --landing-button-m-font-weight: 500;
  --landing-button-m-font-style: normal;

  /* Effects */
}
